[Desktop Entry]
Type=Application
Exec=/opt/extras.ubuntu.com/instant-lyrics/share/instant-lyrics/instant-lyrics.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
X-MATE-Autostart-enabled=true
